.navigation-bar {
  height: 10vh;
}

nav {
  padding: 20px;
  background-color: red;
}

nav a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.content {
  height: 50vh;
}

.app-footer {
  height: 10vh;
}

footer {
  padding: 20px;
  background-color: red;
  color: white;
  text-align: center;
}
